{% extends 'base.html.twig' %}

{% block title %}ADMIN{% endblock %}

{% block body %}
    <h1>Panel admin</h1>

    <p>Nombre d'article : {{articleCount}}</p>
    <p>Nombre de produits : {{productCount}}</p>
    <p>Nombre de catégorie : {{categoryCount}}</p>
    <p>Nombre d'utilisateur : {{userCount}}</p>
{% endblock %}
