{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="container">
    <a  class="btn btn-primary" href="{{ path('app_home') }}">Retour à la page d'accueil</a>
    <h1>Modifier un produit</h1>
    {{ include('content/product/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
