{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <div class="container">
    <a  class="btn btn-primary" href="{{ path('app_home') }}">Retour à la page d'accueil</a>
    <h1>Créer un nouveau produit</h1>
        {{ include('content/product/_form.html.twig') }}
    </div>
{% endblock %}
