{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <h1>Créer un nouveau produit</h1>
    <a  class="btn btn-primary" href="{{ path('app_product_index') }}">back to list</a>

    {{ include('content/product/_form.html.twig') }}

{% endblock %}
