{% extends 'base.html.twig' %}

{% block title %}Editer catégorie{% endblock %}

{% block body %}
<div class="container">
    <a class="btn btn-primary mb-5" href="{{ path('app_admin_category') }}">Retour à la liste des catégories</a>
    <h1>Editer la catégorie</h1>
    {{ include('admin/category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
</div>

{% endblock %}
