{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mb-5">Ecrire un nouvel article</h1>

    {{ include('admin/article/_form.html.twig') }}
</div> 

{% endblock %}
